
<form class="choices" action="/users/<%= current_user.id %>/surveys/<%= survey.id %>/questions/<%= question.id %>/choices">
  <input id="choice_field" type="text" name="choice" placeholder="Choose a choice"/>
  <input id="submit" type="submit" value="Enter Choice">
</form>
<!-- <button id="new_question_button">Next Question?</button> -->