<!-- <form class="newsurvey" method="post" action="/create/new">
  <input type="text" placeholder="Enter Survey Title" name="title">
  <button class="add_q"> ADD QUESTION</button><br>

  <input type="submit">
</form>
 -->

