
<div class="survey_container">
  <form id="newsurvey" method="post" action="/users/<%= @user.id %>/surveys">
    <input type="text" placeholder="Enter Survey Title" name="title">
    <input type="submit" value="Create New Survey">
  </form>
</div>

<div id="survey_display">

</div>
